/*
Logo de la empresa
margen superior
altura y ancho
*/


html {
    font-family: 'Inter', sans-serif;
}

body {
    text-align: justify;
}

.logo {
    width: 120px;
    vertical-align: middle;

}

nav li {
    display: inline-block;
    width: 10%;
    padding: 6px 10px;
    text-align: center;
    border-radius: 15px;
    font-size: 18px;
    background-color: rgb(181, 255, 255);
}

/*
Menú de navegacion y lista
display (vista en horizontal),
ancho
relleno
alineacion del texto
bordes redondeados
tamaño de fuente
*/



/*
Formato de hipervinculo (utilizado en menu y botones)
sin formato de enlace
color predeterminado
*/


a {
    text-decoration: none;
    color: #3A3636;
}


/*
Secciones:
La seccion principal y secundaria tienen el mismo formato, su diferencia es el color


Principal y Secundario
Altura,
relleno izquierdo, abajo y arriba,
margen,
color de fondo rosa y celeste,
tamaño de texto
*/


.divPrincipal {
    height: 350px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: -10px;
    background-image: url(/CONSULTORIO-DENTAL/assets/img/Captura\ de\ pantalla\ 2023-08-28\ 132605.png);
    font-size: 22px;
    color: #000000;
    text-align: justify;
}


.divSecundario {
    height: 500px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: -10px;
    background-color: #D5F7FF;
    font-size: 22px;
    color: #3A3636;
    text-align: justify;
}


/*
Titulo Principal
tipo de fuente
margen inferior
tamaño de fuente
*/


.h1Principal {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    font-size: 80px;
}


/*
Formato de botones
Color de fondo
borde desactivado
margen interior
bordes redondeados
fuente en negrita
margen superior
tamalño de fuente
*/


button {
    background-color: #33d8fa;
    border: none;
    padding: 18px 30px 18px 30px;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 15px;
    font-size: 18px;
    cursor: pointer;
}


/*
Imagenes:
La imagen principal y secundaria tienen el mismo formato, su diferencia es la orientación (izquierda / derecha)


Principal y Secundaria
Altura, ancho
borde redondeado
alineación derecha / izquierda
margen exterior derecho e izquierdo
*/


.imgPrincipal {
    height: 300px;
    width: 250px;
    border-radius: 25px;
    float: right;
    margin-right: 50px;
    margin-left: 50px;
}


.imgizquierda {
    height: 400px;
    width: 350px;
    border-radius: 25px;
    float: left;
    margin-right: 50px;
    margin-left: 50px;
}


.imgderecha {
    height: 400px;
    width: 350px;
    border-radius: 25px;
    float: right;
    margin-right: 50px;
    margin-left: 50px;
}

table {
    width: 1000px;
    /* Ancho de la tabla al 100% del contenedor */
    border-collapse: collapse;
    /* Colapsar bordes de las celdas */
    margin-bottom: 10px;
    /* Espacio inferior para separar de otros elementos */
}

/* Estilos de las celdas de datos */
td,
th {
    padding: 8px;
    /* Espacio interno en celdas */
    text-align: left;
    /* Alineación del texto en celdas (izquierda) */
    border: 2px solid #ddd;
    /* Borde de celdas */
}

/* Estilos de los encabezados de columna */
th {
    background-color: #333;
    /* Color de fondo de encabezados */
    color: white;
    /* Color de texto en encabezados */
}

/* Estilo para resaltar la primera fila (por ejemplo, encabezados) */
tr:first-child {
    font-weight: bold;
    /* Texto en negrita */
}

@media(min-width: 500px) and (max-width:1024px) {}